.teamlegends {
  padding: 40px 6%;
}
.teams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
  height: auto;
}
.singleTeam {
  height: 380px;
  box-shadow: 1px 2px 10px rgb(165, 165, 165);
  transition: all ease-in-out 0.3s;
}

.imageteam {
  background: #252525;
  height: 265px;
  width: 100%;
  object-fit: contain;
  border-radius: 6px 6px 0px 0px;
}

.imageteam img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.desscription {
  background: white;
  box-shadow: 1px 2px 10px rgb(165, 165, 165);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 0px 0px 6px 6px;
}

.ropcontentTeamLegend {
  margin-bottom: 40px;
}

.singleTeam:hover {
  scale: 105%;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

/* STYLE FOR POP UP LEGENDE */

.teamLegendPopUp {
  background: #11181fa8;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteinerLegend {
  background: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.closePopBtn {
  position: fixed;
  z-index: 999;
  top: 50px;
  right: 50px;
  background: #f89fc0;
  color: #11181f;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
}
.closePopBtn:hover {
  width: 60px;
  height: 60px;
  background: #11181f;
  color: #f89fc0;
  transition: all ease-in-out 0.3s;
}
.imageholderPopUP {
  width: 300px;
  height: 100%;
  object-fit: contain;
  background: #f89fc0;
  border-radius: 6px 0px 0px 6px;
}

.imageholderPopUP img {
  width: 300px;
  height: 100%;
  object-fit: contain;
}

.rightLegendPop {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statusOnTeam {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: center;
  background: #ffd6e5;
  padding: 20px;
  border-radius: 4px;
}

.statusSingle {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  border-right: 1px dotted rgb(53, 53, 53);
}

.statusSingle h2 {
  font-weight: 500;
}

.statusSingle h4 {
  font-weight: 500;
}

.detailsViewLegend {
  color: #ac3b64;
  width: 100%;
  height: 40px;
}

.detailsViewLegend p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .conteinerLegend {
    flex-direction: column;
    margin-top: 100px;
  }
  .rightLegendPop {
    width: 300px;
    height: auto;
  }

  .imageholderPopUP {
    width: 300px;
    border-radius: 6px 6px 0 0;
  }
  .imageholderPopUP img {
    width: 100%;
    height: 200px;
  }

  .statusOnTeam {
    margin-top: 10px;
  }
}
