.topmenusFixture {
  padding: 40px;
  padding-top: 100px;
  height: 48px;
  background: white;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #888;
}

.topmenusFixture ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.topmenusFixture ul li {
  list-style: none;
  font-weight: bold;
}

.activeFixutermenu {
  color: gray;
  font-weight: bold;
  border-bottom: 4px solid #888;
}
