footer {
  background: black;
  width: 100%;
  /* color: #f89fc0; */
  color: white;
  padding: 3% 6%;
}

.topFooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
}
.leftTopFooter {
  height: 650px;
  object-fit: contain;
  border-radius: 6px;
}

.leftTopFooter h1 {
  border-left: 6px solid #f89fc0;
  padding-left: 10px;
  font-weight: 500;
}
.leftTopFooter img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.nameandIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nameandIcon svg {
  background: #f89fc0;
  color: black;
  padding: 4px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
}

.singleFanTweets p {
  font-size: 14px;
}

.singleFanTweets {
  margin-top: 20px;
  border-bottom: 1px dashed rgb(46, 46, 46);
  padding: 10px 0px;
}

.rightTopFooter h1 {
  border-left: 6px solid #f89fc0;
  padding-left: 10px;
  font-weight: 500;
}
